<div class="container">
  <h1> <%= @list.title %> </h1>
  </p> <%= @list.description %> </p>
  <img src= "<%= @user.image_url %>", class="profile_image" >
  <h5> List Created By: <%= @user.first_name %> <%= @user.last_name %> </h5>
</div>
<% if user_signed_in? && @list.user_id === current_user.id %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editListModal"> Edit List</button>
  <%= link_to "Delete", list_path(@list), method: :delete, class: "btn btn-primary" %>

<% end %>
<br>



<% @listmovies.each do |listmovie| %>
  <% @movie = Movie.find(listmovie.movie_id) %>
  <h1> <%=link_to  "#{@movie.title}  (#{ @movie['release_date'][0...4]})", movie_path(@movie.tmdb_id) %></h1>
  <%= image_tag(@movie.image_url, alt: "No Poster Found") %>
    <% if user_signed_in? && @list.user_id === current_user.id %>
      <%= button_to "Remove From List", "/listmovie/#{listmovie.id}", method: :delete, class: "btn" %>
    <% end %>
  <br>
<% end %>

<h3>Comments:</h3>
<h4>Add A Comment:</h4>
<%= form_tag("/lists/#{@list.id}/comments", method: 'post') do %>
  <%= text_area_tag :content, nil, size: "68x7" %>
  <br>
  <%= submit_tag "Add Comment", class: 'btn btn-primary' %>
<% end %>
<br>
<% @comments.each do |comment| %>
<% @comenter = User.find(comment.user_id) %>
<div class="comment_box">
  <h4> <%= comment.content %> </h4>
    <h6> - <%= @comenter.first_name  %> <%= @comenter.last_name %> </h6>
  <% if user_signed_in? && comment.user_id === current_user.id %>
  <%= button_to "Delete Comment", "/lists/#{comment.user_id}/comments/#{comment.id}", method: :delete, class: "btn" %>
  <% end %>
</div>
<br>
<% end %>



<div class="modal fade" id="editListModal" tabindex="-1" role="dialog" aria-labelledby="editListModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="editListModal">Edit List</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag("/lists/#{@list.id}", method: 'put') do %>
        <div class="modal-body">
            <%= label_tag(:title, "Title:") %>
            <br>
            <%= text_field_tag(:title, value = @list.title) %>
            <br>
            <%= label_tag(:description, "Description:") %>
            <br>
            <%= text_area_tag(:description, value = @list.description) %>
            <%= hidden_field_tag(:user_id, @user.id ) %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= submit_tag "Edit List", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
