<h1> <%= @list.title %> </h1>
<% if user_signed_in? && @list.user_id === @user.id %>
  <button type="button" name="button">Edit</button>
  <%= button_to "Delete", list_path(@list), method: :delete %>

<% end %>
<br>
List Created By: <%= @user.first_name %> <%=@user.last_name %>
<br>
Description: <%= @list.description %>
